In [1]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive. mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
Chicago_df =pd.read_csv ("/content/drive/MyDrive/Dataset/Chicago.csv")
New_Orleans_df =pd.read_csv("/content/drive/MyDrive/Dataset/New_Orleans.csv")

In [ ]:

df = pd.concat([Chicago_df,New_Orleans_df])

In [ ]:
df.shape

(14985, 19)

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,city,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384.0,Hyde Park - Walk to The University of Chicago,2613,Rebecca,NaN,chicago,Hyde Park,41.78790,-87.58780,Private room,125.0,3,242,08-06-2024,2.10,1,328,23,R17000015609
1,7126.0,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,chicago,West Town,41.90166,-87.68021,Entire home/apt,104.0,2,527,01-06-2024,2.89,1,297,32,R24000114046
2,10945.0,The Biddle House (#1),33004,At Home Inn,NaN,chicago,Lincoln Park,41.91196,-87.63981,Entire home/apt,188.0,4,93,16-06-2024,0.75,5,196,26,2209984
3,12140.0,Lincoln Park Guest House,46734,Shay And Robert,NaN,chicago,Lincoln Park,41.92357,-87.64947,Private room,339.0,2,16,27-05-2024,0.15,1,151,1,R20000055258
4,28749.0,Quirky Bucktown Loft w/ Parking NO PARTIES,27506,Lauri,NaN,chicago,Logan Square,41.92137,-87.67933,Entire home/apt,214.0,2,210,18-06-2024,1.27,1,13,33,R24000113825

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14985 entries, 0 to 7032
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14985 non-null  float64
 1   name                            14985 non-null  object
 2   host_id                         14985 non-null  int64
 3   host_name                       14985 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   city                            14985 non-null  object
 6   neighbourhood                   14985 non-null  object
 7   latitude                        14985 non-null  float64
 8   longitude                       14985 non-null  float64
 9   room_type                       14985 non-null  object
 10  price                           13367 non-null  float64
 11  minimum_nights                  14985 non-null  int64
 12  number_of_reviews               14985 non-null  int64
 13  last_review                     12505 non-null  object
 14  reviews_per_month               12505 non-null  float64
 15  calculated_host_listings_count  14985 non-null  int64
 16  availability_365                14985 non-null  int64
 17  number_of_reviews_ltm           14985 non-null  int64
 18  license                         12171 non-null  object
dtypes: float64(6), int64(6), object(7)
memory usage: 2.3+ MB

In [ ]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'city',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [ ]:
df = df.drop(['neighbourhood_group'], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14985 entries, 0 to 7032
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14985 non-null  float64
 1   name                            14985 non-null  object
 2   host_id                         14985 non-null  int64
 3   host_name                       14985 non-null  object
 4   city                            14985 non-null  object
 5   neighbourhood                   14985 non-null  object
 6   latitude                        14985 non-null  float64
 7   longitude                       14985 non-null  float64
 8   room_type                       14985 non-null  object
 9   price                           13367 non-null  float64
 10  minimum_nights                  14985 non-null  int64
 11  number_of_reviews               14985 non-null  int64
 12  last_review                     12505 non-null  object
 13  reviews_per_month               12505 non-null  float64
 14  calculated_host_listings_count  14985 non-null  int64
 15  availability_365                14985 non-null  int64
 16  number_of_reviews_ltm           14985 non-null  int64
 17  license                         12171 non-null  object
dtypes: float64(5), int64(6), object(7)
memory usage: 2.2+ MB

In [ ]:
pd.isnull(df).sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
city                                 0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             1618
minimum_nights                       0
number_of_reviews                    0
last_review                       2480
reviews_per_month                 2480
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           2814
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
city                              0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

In [ ]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,1.024400e+04,1.024400e+04,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000
mean,4.142745e+17,1.987961e+08,36.644533,-88.724846,213.797930,7.971593,77.829852,2.077815,15.748243,210.470226,19.194748
std,4.493788e+17,1.816017e+08,5.925884,1.195776,248.964996,17.562371,108.879320,1.913509,52.797240,106.142729,21.822790
min,2.384000e+03,9.710000e+02,29.897680,-90.136460,12.000000,1.000000,1.000000,0.010000,1.000000,0.000000,0.000000
25%,3.218831e+07,3.761466e+07,29.962975,-90.071450,99.000000,1.000000,12.000000,0.890000,1.000000,122.000000,4.000000
50%,5.350525e+07,1.290809e+08,41.804865,-87.717265,150.000000,2.000000,41.000000,1.790000,3.000000,219.000000,14.000000
75%,8.603190e+17,3.662484e+08,41.908827,-87.657768,246.000000,3.000000,103.000000,2.860000,11.000000,309.000000,29.000000
max,1.180000e+18,5.815743e+08,42.022200,-87.528420,9000.000000,365.000000,3689.000000,54.090000,549.000000,365.000000,492.000000

In [ ]:
df.to_csv('/content/drive/MyDrive/Dataset/MyData.csv',index=False)

(7707, 18)